@import "normalize.css/normalize.css";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Colors */
/* Spacing */
/*margin*/
.m-xs {
  margin: 1rem;
}

.m-sm {
  margin: 2rem;
}

.m-md {
  margin: 3rem;
}

.m-lg {
  margin: 4rem;
}

.m-xl {
  margin: 5rem;
}

.m-xxl {
  margin: 6rem;
}

/*margin-top*/
.mt-xs {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 5rem;
}

.mt-xxl {
  margin-top: 6rem;
}

/*margin-bottom*/
.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 5rem;
}

.mb-xxl {
  margin-bottom: 6rem;
}

/*margin-left*/
.ml-xs {
  margin-left: 1rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ml-md {
  margin-left: 3rem;
}

.ml-lg {
  margin-left: 4rem;
}

.ml-xl {
  margin-left: 5rem;
}

.ml-xxl {
  margin-left: 6rem;
}

/*margin-right*/
.mr-xs {
  margin-right: 1rem;
}

.mr-sm {
  margin-right: 2rem;
}

.mr-md {
  margin-right: 3rem;
}

.mr-lg {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 5rem;
}

.mr-xxl {
  margin-right: 6rem;
}

/*margin-left & right*/
.mx-xs {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-md {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-lg {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem;
}

/*margin-top & botton*/
.my-xs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-sm {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-md {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-lg {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-xl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-xxl {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* Radius */
.border-radius-sm {
  border-radius: 0.125rem;
}

.border-radius-md {
  border-radius: 0.375rem;
}

.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}

/*top-right*/
.border-top-right-radius-sm {
  border-top-right-radius: 0.125rem;
}

.border-top-right-radius-md {
  border-top-right-radius: 0.375rem;
}

.border-top-right-radius-lg {
  border-top-right-radius: 0.5rem;
}

.border-top-right-radius-full {
  border-top-right-radius: 9999px;
}

/*bottom-right*/
.border-bottom-right-radius-sm {
  border-bottom-right-radius: 0.125rem;
}

.border-bottom-right-radius-md {
  border-bottom-right-radius: 0.375rem;
}

.border-bottom-right-radius-lg {
  border-bottom-right-radius: 0.5rem;
}

.border-bottom-right-radius-full {
  border-bottom-right-radius: 9999px;
}

/*top left*/
.border-top-left-radius-sm {
  border-top-left-radius: 0.125rem;
}

.border-top-left-radius-md {
  border-top-left-radius: 0.375rem;
}

.border-top-left-radius-lg {
  border-top-left-radius: 0.5rem;
}

.border-top-left-radius-full {
  border-top-left-radius: 9999px;
}

/*bottom-left*/
.border-bottom-left-radius-sm {
  border-bottom-left-radius: 0.125rem;
}

.border-bottom-left-radius-md {
  border-bottom-left-radius: 0.375rem;
}

.border-bottom-left-radius-lg {
  border-bottom-left-radius: 0.5rem;
}

.border-bottom-left-radius-full {
  border-bottom-left-radius: 9999px;
}

/*Breakpoints*/
#header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [row1-start] 25%;
}

#about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "grid-item1" "grid-item2";
}
#about .about-text {
  grid-area: grid-item1;
}
#about .about-img {
  grid-area: grid-item2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}
#about .about-img img {
  max-width: 100%;
}

.services-container {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 4rem;
  justify-items: center;
}

.testimonial-card-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  justify-items: center;
}

.contact-info-container {
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "item1" "item2" "item3";
}
.contact-info-container .contact-form-container {
  grid-area: item1;
}
.contact-info-container .bottom-form-container {
  grid-area: item2;
}
.contact-info-container .company-info-container {
  grid-area: item3;
  background-color: #70a70c;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  #about {
    grid-template-columns: 1.75fr 2.5fr;
    grid-template-rows: [row1-start] 650px;
    grid-template-areas: "grid-item1 grid-item2";
  }
  #about .about-img-background .about-img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
  }
  #about .about-img-background .about-img img {
    width: 450px;
    max-width: 100%;
    height: 290px;
  }

  .services-container {
    grid-template-columns: 0.75fr;
  }

  .project-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  .project-container img {
    height: 250px;
    width: 400px;
  }

  .contact-info-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item1 item3" "item2 item2";
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
  }
}
@media (min-width: 1024px) {
  #about .about-img-background .about-img img {
    width: 500px;
    height: 290px;
  }

  .services-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .subscribe-container {
    height: 175px;
  }
}
@media (min-width: 1200px) {
  #about {
    grid-template-columns: 1fr 2fr;
  }
  #about .about-img-background .about-img img {
    width: 550px;
    height: 320px;
  }
  #about .about-img-background .about-img .img1 {
    justify-self: start;
  }
  #about .about-img-background .about-img .img2 {
    justify-self: end;
    position: relative;
    bottom: 20%;
  }

  .testimonial-card-container {
    grid-template-columns: 0.75fr 0.75fr;
    column-gap: 24px;
  }
}
@media (min-width: 1500px) {
  .project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-img-background .about-img img {
    width: 600px;
    height: 320px;
  }
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
/* Colors */
/* Spacing */
/*margin*/
.m-xs {
  margin: 1rem;
}

.m-sm {
  margin: 2rem;
}

.m-md {
  margin: 3rem;
}

.m-lg {
  margin: 4rem;
}

.m-xl {
  margin: 5rem;
}

.m-xxl {
  margin: 6rem;
}

/*margin-top*/
.mt-xs {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 5rem;
}

.mt-xxl {
  margin-top: 6rem;
}

/*margin-bottom*/
.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 5rem;
}

.mb-xxl {
  margin-bottom: 6rem;
}

/*margin-left*/
.ml-xs {
  margin-left: 1rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ml-md {
  margin-left: 3rem;
}

.ml-lg {
  margin-left: 4rem;
}

.ml-xl {
  margin-left: 5rem;
}

.ml-xxl {
  margin-left: 6rem;
}

/*margin-right*/
.mr-xs {
  margin-right: 1rem;
}

.mr-sm {
  margin-right: 2rem;
}

.mr-md {
  margin-right: 3rem;
}

.mr-lg {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 5rem;
}

.mr-xxl {
  margin-right: 6rem;
}

/*margin-left & right*/
.mx-xs {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-md {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-lg {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem;
}

/*margin-top & botton*/
.my-xs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-sm {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-md {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-lg {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-xl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-xxl {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* Radius */
.border-radius-sm {
  border-radius: 0.125rem;
}

.border-radius-md {
  border-radius: 0.375rem;
}

.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}

/*top-right*/
.border-top-right-radius-sm {
  border-top-right-radius: 0.125rem;
}

.border-top-right-radius-md {
  border-top-right-radius: 0.375rem;
}

.border-top-right-radius-lg {
  border-top-right-radius: 0.5rem;
}

.border-top-right-radius-full {
  border-top-right-radius: 9999px;
}

/*bottom-right*/
.border-bottom-right-radius-sm {
  border-bottom-right-radius: 0.125rem;
}

.border-bottom-right-radius-md {
  border-bottom-right-radius: 0.375rem;
}

.border-bottom-right-radius-lg {
  border-bottom-right-radius: 0.5rem;
}

.border-bottom-right-radius-full {
  border-bottom-right-radius: 9999px;
}

/*top left*/
.border-top-left-radius-sm {
  border-top-left-radius: 0.125rem;
}

.border-top-left-radius-md {
  border-top-left-radius: 0.375rem;
}

.border-top-left-radius-lg {
  border-top-left-radius: 0.5rem;
}

.border-top-left-radius-full {
  border-top-left-radius: 9999px;
}

/*bottom-left*/
.border-bottom-left-radius-sm {
  border-bottom-left-radius: 0.125rem;
}

.border-bottom-left-radius-md {
  border-bottom-left-radius: 0.375rem;
}

.border-bottom-left-radius-lg {
  border-bottom-left-radius: 0.5rem;
}

.border-bottom-left-radius-full {
  border-bottom-left-radius: 9999px;
}

/*Breakpoints*/
/* Font families */
/*Font sizes*/
.font-size-xs {
  font-size: 1.25rem;
}

.font-size-s {
  font-size: 1.75rem;
}

.font-size-m {
  font-size: 2.25rem;
}

.font-size-l {
  font-size: 3rem;
}

.font-size-xl {
  font-size: 3.75rem;
}

#footer {
  background-color: #272727;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
}
#footer .icons {
  display: flex;
  justify-content: flex-start;
}
#footer .subscribe-footer {
  display: flex;
}
#footer .subscribe-footer input {
  height: 40px;
  width: 100%;
  max-width: 400px;
  border: none;
}
#footer .subscribe-footer button {
  height: 40px;
  padding: 0 1rem;
  border: none;
  background-color: #70a70c;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}
#footer .subscribe-footer button:hover, #footer .subscribe-footer button:focus {
  background-color: #6a9122;
}
#footer .subscribe-footer i {
  color: #fff;
  font-size: 26px;
}
#footer .fine-print ul {
  list-style: none;
  padding-inline-start: 0;
}
#footer .footer-copyright {
  text-align: center;
  display: flex;
  min-height: 50px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: rgba(48, 48, 48, 0.795);
}

@media (min-width: 768px) {
  .footer-container .footer-section2 {
    justify-self: center;
  }
  .footer-container .fine-print {
    align-self: end;
    justify-self: center;
    margin-bottom: 18px;
    margin-right: 110px;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-container .footer-section2 {
    justify-self: baseline;
  }
  .footer-container .fine-print {
    justify-self: baseline;
    margin: 0;
  }
}
a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
}

ul {
  list-style: none;
}

.mobile-logo {
  margin: 0.5rem;
}

.logo {
  display: none;
}

.desktop-nav {
  display: none;
}

.menu__icon {
  height: 22px;
  width: 33px;
  margin: 1%;
  position: absolute;
  top: 10px;
  right: 3%;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
}
.menu__icon span {
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}
.menu__icon:before, .menu__icon:after {
  content: "";
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.menu__icon:before {
  top: 2px;
  margin-top: -2px;
}
.menu__icon:after {
  bottom: 2px;
  margin-bottom: -2px;
}

.menu_shown .menu__icon span {
  background: transparent;
}
.menu_shown .menu__icon:before {
  top: 50%;
  transform: rotate(45deg);
}
.menu_shown .menu__icon:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.mobile.menu {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  min-height: 100vh;
  text-align: left;
  padding-top: 112px;
  background: #70a70c;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}
.mobile .menu__item {
  display: block;
  line-height: 2;
  padding: 25px 0;
}

.menu_shown .mobile.menu {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .logo {
    display: initial;
    margin-left: 1rem;
  }

  .desktop-nav {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-nav .menu a {
    margin-right: 1rem;
  }
  .desktop-nav .menu .navbar-menu-link .nav_border {
    display: inline-block;
    padding: 2px 0px 4px;
    position: relative;
  }
  .desktop-nav .menu .navbar-menu-link .nav_border:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 1.75px solid white;
    bottom: 1px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
  }
  .desktop-nav .menu .navbar-menu-link:hover .nav_border:before, .desktop-nav .menu .navbar-menu-link:focus .nav_border:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@media (max-width: 768px) {
  .mobile.menu {
    width: 100%;
  }
}
/* Colors */
/* Spacing */
/*margin*/
.m-xs {
  margin: 1rem;
}

.m-sm {
  margin: 2rem;
}

.m-md {
  margin: 3rem;
}

.m-lg {
  margin: 4rem;
}

.m-xl {
  margin: 5rem;
}

.m-xxl {
  margin: 6rem;
}

/*margin-top*/
.mt-xs {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 5rem;
}

.mt-xxl {
  margin-top: 6rem;
}

/*margin-bottom*/
.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 5rem;
}

.mb-xxl {
  margin-bottom: 6rem;
}

/*margin-left*/
.ml-xs {
  margin-left: 1rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ml-md {
  margin-left: 3rem;
}

.ml-lg {
  margin-left: 4rem;
}

.ml-xl {
  margin-left: 5rem;
}

.ml-xxl {
  margin-left: 6rem;
}

/*margin-right*/
.mr-xs {
  margin-right: 1rem;
}

.mr-sm {
  margin-right: 2rem;
}

.mr-md {
  margin-right: 3rem;
}

.mr-lg {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 5rem;
}

.mr-xxl {
  margin-right: 6rem;
}

/*margin-left & right*/
.mx-xs {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-md {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-lg {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem;
}

/*margin-top & botton*/
.my-xs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-sm {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-md {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-lg {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-xl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-xxl {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* Radius */
.border-radius-sm {
  border-radius: 0.125rem;
}

.border-radius-md {
  border-radius: 0.375rem;
}

.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}

/*top-right*/
.border-top-right-radius-sm {
  border-top-right-radius: 0.125rem;
}

.border-top-right-radius-md {
  border-top-right-radius: 0.375rem;
}

.border-top-right-radius-lg {
  border-top-right-radius: 0.5rem;
}

.border-top-right-radius-full {
  border-top-right-radius: 9999px;
}

/*bottom-right*/
.border-bottom-right-radius-sm {
  border-bottom-right-radius: 0.125rem;
}

.border-bottom-right-radius-md {
  border-bottom-right-radius: 0.375rem;
}

.border-bottom-right-radius-lg {
  border-bottom-right-radius: 0.5rem;
}

.border-bottom-right-radius-full {
  border-bottom-right-radius: 9999px;
}

/*top left*/
.border-top-left-radius-sm {
  border-top-left-radius: 0.125rem;
}

.border-top-left-radius-md {
  border-top-left-radius: 0.375rem;
}

.border-top-left-radius-lg {
  border-top-left-radius: 0.5rem;
}

.border-top-left-radius-full {
  border-top-left-radius: 9999px;
}

/*bottom-left*/
.border-bottom-left-radius-sm {
  border-bottom-left-radius: 0.125rem;
}

.border-bottom-left-radius-md {
  border-bottom-left-radius: 0.375rem;
}

.border-bottom-left-radius-lg {
  border-bottom-left-radius: 0.5rem;
}

.border-bottom-left-radius-full {
  border-bottom-left-radius: 9999px;
}

/*Breakpoints*/
.btn-main {
  display: inline-block;
  padding: 10px;
  width: 150px;
  background-color: #70a70c;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

.btn-secondary {
  display: inline-block;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid white;
  transition: 0.25s;
}

.btn-main:hover,
.btn-main:focus {
  background-color: #6a9122;
  transition: 0.25s;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #6a9122;
  transition: 0.25s;
}
.btn-secondary:hover .btn-secondary:hover a,
.btn-secondary:focus .btn-secondary:hover a {
  color: blue;
}

/* Colors */
/* Spacing */
/*margin*/
.m-xs {
  margin: 1rem;
}

.m-sm {
  margin: 2rem;
}

.m-md {
  margin: 3rem;
}

.m-lg {
  margin: 4rem;
}

.m-xl {
  margin: 5rem;
}

.m-xxl {
  margin: 6rem;
}

/*margin-top*/
.mt-xs {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 5rem;
}

.mt-xxl {
  margin-top: 6rem;
}

/*margin-bottom*/
.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 5rem;
}

.mb-xxl {
  margin-bottom: 6rem;
}

/*margin-left*/
.ml-xs {
  margin-left: 1rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ml-md {
  margin-left: 3rem;
}

.ml-lg {
  margin-left: 4rem;
}

.ml-xl {
  margin-left: 5rem;
}

.ml-xxl {
  margin-left: 6rem;
}

/*margin-right*/
.mr-xs {
  margin-right: 1rem;
}

.mr-sm {
  margin-right: 2rem;
}

.mr-md {
  margin-right: 3rem;
}

.mr-lg {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 5rem;
}

.mr-xxl {
  margin-right: 6rem;
}

/*margin-left & right*/
.mx-xs {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-md {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-lg {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem;
}

/*margin-top & botton*/
.my-xs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-sm {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-md {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-lg {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-xl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-xxl {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* Radius */
.border-radius-sm {
  border-radius: 0.125rem;
}

.border-radius-md {
  border-radius: 0.375rem;
}

.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}

/*top-right*/
.border-top-right-radius-sm {
  border-top-right-radius: 0.125rem;
}

.border-top-right-radius-md {
  border-top-right-radius: 0.375rem;
}

.border-top-right-radius-lg {
  border-top-right-radius: 0.5rem;
}

.border-top-right-radius-full {
  border-top-right-radius: 9999px;
}

/*bottom-right*/
.border-bottom-right-radius-sm {
  border-bottom-right-radius: 0.125rem;
}

.border-bottom-right-radius-md {
  border-bottom-right-radius: 0.375rem;
}

.border-bottom-right-radius-lg {
  border-bottom-right-radius: 0.5rem;
}

.border-bottom-right-radius-full {
  border-bottom-right-radius: 9999px;
}

/*top left*/
.border-top-left-radius-sm {
  border-top-left-radius: 0.125rem;
}

.border-top-left-radius-md {
  border-top-left-radius: 0.375rem;
}

.border-top-left-radius-lg {
  border-top-left-radius: 0.5rem;
}

.border-top-left-radius-full {
  border-top-left-radius: 9999px;
}

/*bottom-left*/
.border-bottom-left-radius-sm {
  border-bottom-left-radius: 0.125rem;
}

.border-bottom-left-radius-md {
  border-bottom-left-radius: 0.375rem;
}

.border-bottom-left-radius-lg {
  border-bottom-left-radius: 0.5rem;
}

.border-bottom-left-radius-full {
  border-bottom-left-radius: 9999px;
}

/*Breakpoints*/
#header {
  background-image: linear-gradient(rgba(24, 24, 24, 0.64), rgba(24, 24, 24, 0.64), rgba(24, 24, 24, 0.64)), url("../img/header.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}
#header .header-text-container {
  vertical-align: middle;
  text-align: center;
}
#header .header-text-container .header-text-content {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0 1rem;
}
#header .header-text-container .header-text-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#header .header-text-container .header-text-btns a {
  color: white;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
}

@media (min-width: 450px) {
  #header {
    height: 600px;
  }
}
#about {
  margin-bottom: 48px;
}

.about-text {
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: #272727;
  color: #fff;
  align-items: center;
}
.about-text .text-container {
  margin-bottom: 200px;
}
.about-text h2:after {
  content: "";
  display: block;
  width: 80px;
  margin-top: 1rem;
  border-bottom: 5px solid #70a70c;
}

.about-img-background {
  background-color: #e6e6e6;
}
.about-img-background .about-img {
  padding: 2rem;
}

#services {
  color: #272727;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
#services .services-container {
  margin: 80px 0;
}
#services .services-container .services1,
#services .services-container .services2,
#services .services-container .services3 {
  margin: 3rem 0;
}

@media (min-width: 768px) {
  #services .services1,
#services .services2,
#services .services3 {
    margin: 6rem;
  }
}
@media (min-width: 1024px) {
  #services .services1,
#services .services2,
#services .services3 {
    margin: 3rem 2rem !important;
  }
}
#subscribe {
  background-color: #70a70c;
  margin-bottom: 64px;
}
#subscribe .subscribe-container {
  display: flex;
  flex-direction: column;
  margin: 32px;
}
#subscribe .subscribe-container .subscribe-container-text h2,
#subscribe .subscribe-container .subscribe-container-text p {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
#subscribe .subscribe-container #viewport-s-m-form {
  display: none;
}
#subscribe .subscribe-container .subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
#subscribe .subscribe-container .subscribe-form input {
  height: 40px;
  border: none;
  margin-bottom: 16px;
}
#subscribe .subscribe-container .subscribe-form ::-webkit-input-placeholder {
  font-family: "Dosis", sans-serif;
  color: #272727;
  font-size: 1.25rem;
}
#subscribe .subscribe-container .subscribe-form button {
  height: 40px;
  background-color: #272727;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: none;
  margin-bottom: 16px;
}
#subscribe .subscribe-container .subscribe-form button:hover, #subscribe .subscribe-container .subscribe-form button:focus {
  background-color: #353535;
}

@media (min-width: 400px) {
  #subscribe .subscribe-container #viewport-s-form {
    display: none;
  }
  #subscribe .subscribe-container #viewport-s-m-form {
    display: flex;
  }
  #subscribe .subscribe-container .subscribe-form {
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 32px;
  }
  #subscribe .subscribe-container .subscribe-form input {
    margin-bottom: 0;
    width: 325px;
  }
  #subscribe .subscribe-container .subscribe-form button {
    margin-bottom: 0;
    padding: 0 16px;
  }
}
@media (min-width: 768px) {
  #subscribe .subscribe-container {
    flex-direction: row;
    gap: 80px;
  }
  #subscribe .subscribe-container .subscribe-form {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  #subscribe .subscribe-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #subscribe .subscribe-container .subscribe-form {
    width: 500px;
    justify-content: end;
  }
}
@media (min-width: 1200px) {
  #subscribe .subscribe-container {
    flex-direction: row;
    justify-content: space-around;
  }
}
#projects {
  color: #272727;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 2.15rem;
}
#projects img {
  max-width: 100%;
}

#testimonials {
  font-family: "Roboto", sans-serif;
  background-color: #e6e6e6;
}
#testimonials h1 {
  text-align: left;
  padding-top: 3rem;
  margin-bottom: 5rem;
}
#testimonials h1:after {
  content: "";
  display: block;
  width: 80px;
  margin-top: 1.25rem;
  border-bottom: 5px solid #70a70c;
}

.testimonial-card-container {
  padding-bottom: 5rem;
}
.testimonial-card-container .card {
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  border: 2px solid #6a9122;
}
.testimonial-card-container .card .card-content {
  padding: 1rem;
}
.testimonial-card-container .card .card-content .card-icon {
  margin-top: 0.5rem;
  text-align: center;
  transform: translateY(-50px);
}
.testimonial-card-container .card .card-content .card-icon i {
  font-size: 2.5rem;
  color: #6a9122;
  background-color: #272727;
  padding: 1rem 1.25rem;
  border-radius: 50%;
}
.testimonial-card-container .card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #6a9122;
}

iframe {
  width: 100%;
  height: 450px;
}

#contact {
  background-image: linear-gradient(rgba(24, 24, 24, 0.64), rgba(24, 24, 24, 0.64), rgba(24, 24, 24, 0.64)), url("../img/contact-img.jpg");
  background-position: bottom;
  background-size: cover;
}
#contact .contact-container {
  color: white;
  font-family: "Roboto", sans-serif;
  padding-bottom: 3rem;
}
#contact .contact-container h1 {
  padding-top: 3rem;
  margin-top: 0;
}
#contact .contact-container h1,
#contact .contact-container h3 {
  text-align: center;
}
#contact .contact-container .contact-info-container {
  margin-top: 48px;
}
#contact .contact-container .contact-info-container .contact-form {
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
}
#contact .contact-container .contact-info-container .bottom-form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
#contact .contact-container .contact-info-container label {
  display: none;
}
#contact .contact-container .contact-info-container input,
#contact .contact-container .contact-info-container select {
  height: 40px;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
}
#contact .contact-container .contact-info-container select {
  font-size: 1rem;
  display: block;
  width: 100%;
}
#contact .contact-container .contact-info-container textarea {
  max-width: 100%;
  font-size: 1rem !important;
  height: 100px;
  border: none;
}
#contact .contact-container .contact-info-container ::-webkit-input-placeholder,
#contact .contact-container .contact-info-container ::placeholder {
  font-size: 1rem;
}
#contact .contact-container .contact-info-container button {
  color: white;
  margin-top: 1rem;
  border: none;
}
#contact .contact-container .contact-info-container button:hover, #contact .contact-container .contact-info-container button:focus {
  background-color: #6a9122;
}
#contact .contact-container .contact-info-container .company-info-container {
  border-top-right-radius: 0.375rem;
}
#contact .contact-container .contact-info-container .company-info-container .company-info h2 {
  margin-bottom: 3rem;
}
#contact .contact-container .contact-info-container .company-info-container .company-info h2:after {
  content: "";
  display: block;
  width: 80px;
  margin-top: 1.25rem;
  border-bottom: 5px solid #fff;
}
#contact .contact-container .contact-info-container .company-info-container .company-info h5 {
  font-weight: 100;
}
#contact .contact-container .contact-info-container .company-info-container .company-info i {
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .contact-info-container .bottom-form {
    margin-top: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .contact-container {
    max-width: 1050px;
  }
}

/*# sourceMappingURL=main.css.map */
