@import "normalize.css/normalize.css";
* {
  box-sizing: border-box;
}

#header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [row1-start] 25%;
}

#about {
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
/* Colors */
/* Spacing */
/*margin*/
.m-xs {
  margin: 1rem;
}

.m-sm {
  margin: 2rem;
}

.m-md {
  margin: 3rem;
}

.m-lg {
  margin: 4rem;
}

.m-xl {
  margin: 5rem;
}

.m-xxl {
  margin: 6rem;
}

/*margin-top*/
.mt-xs {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 5rem;
}

.mt-xxl {
  margin-top: 6rem;
}

/*margin-bottom*/
.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 5rem;
}

.mb-xxl {
  margin-bottom: 6rem;
}

/*margin-left*/
.ml-xs {
  margin-left: 1rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ml-md {
  margin-left: 3rem;
}

.ml-lg {
  margin-left: 4rem;
}

.ml-xl {
  margin-left: 5rem;
}

.ml-xxl {
  margin-left: 6rem;
}

/*margin-right*/
.mr-xs {
  margin-right: 1rem;
}

.mr-sm {
  margin-right: 2rem;
}

.mr-md {
  margin-right: 3rem;
}

.mr-lg {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 5rem;
}

.mr-xxl {
  margin-right: 6rem;
}

/*margin-left & right*/
.mx-xs {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-md {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-lg {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem;
}

/*margin-top & botton*/
.my-xs {
  margin-top: 1rem;
  margin-top: 1rem;
}

.my-sm {
  margin-top: 2rem;
  margin-top: 2rem;
}

.my-md {
  margin-top: 3rem;
  margin-top: 3rem;
}

.my-lg {
  margin-top: 4rem;
  margin-top: 4rem;
}

.my-xl {
  margin-top: 5rem;
  margin-top: 5rem;
}

.my-xxl {
  margin-top: 6rem;
  margin-top: 6rem;
}

/* Radius */
.border-radius-sm {
  border-radius: 0.125rem;
}

.border-radius-md {
  border-radius: 0.375rem;
}

.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}

/*Breakpoints*/
/* Font families */
/*Font sizes*/
.font-size-xs {
  font-size: 1.25rem;
}

.font-size-s {
  font-size: 1.75rem;
}

.font-size-m {
  font-size: 2.25rem;
}

.font-size-l {
  font-size: 3rem;
}

.font-size-xl {
  font-size: 3.75rem;
}

a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
}

ul {
  list-style: none;
}

.mobile-logo {
  margin: 0.5rem;
}

.logo {
  display: none;
}

.desktop-nav {
  display: none;
}

.menu__icon {
  height: 22px;
  width: 33px;
  margin: 1%;
  position: absolute;
  top: 10px;
  right: 3%;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
}
.menu__icon span {
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}
.menu__icon:before, .menu__icon:after {
  content: "";
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.menu__icon:before {
  top: 2px;
  margin-top: -2px;
}
.menu__icon:after {
  bottom: 2px;
  margin-bottom: -2px;
}

.menu_shown .menu__icon span {
  background: transparent;
}
.menu_shown .menu__icon:before {
  top: 50%;
  transform: rotate(45deg);
}
.menu_shown .menu__icon:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.mobile.menu {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  min-height: 100vh;
  text-align: left;
  padding-top: 112px;
  background: #70a70c;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}
.mobile .menu__item {
  display: block;
  line-height: 2;
  padding: 25px 0;
}

.menu_shown .mobile.menu {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .logo {
    display: initial;
    margin-left: 1rem;
  }

  .desktop-nav {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-nav .menu a {
    margin-right: 1rem;
  }
  .desktop-nav .menu .navbar-menu-link .nav_border {
    display: inline-block;
    padding: 2px 0px 4px;
    position: relative;
  }
  .desktop-nav .menu .navbar-menu-link .nav_border:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 1.75px solid white;
    bottom: 1px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
  }
  .desktop-nav .menu .navbar-menu-link:hover .nav_border:before, .desktop-nav .menu .navbar-menu-link:focus .nav_border:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@media (max-width: 481px) {
  .mobile.menu {
    width: 100%;
  }
}
/* Colors */
/* Spacing */
/*margin*/
.m-xs {
  margin: 1rem;
}

.m-sm {
  margin: 2rem;
}

.m-md {
  margin: 3rem;
}

.m-lg {
  margin: 4rem;
}

.m-xl {
  margin: 5rem;
}

.m-xxl {
  margin: 6rem;
}

/*margin-top*/
.mt-xs {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 5rem;
}

.mt-xxl {
  margin-top: 6rem;
}

/*margin-bottom*/
.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 5rem;
}

.mb-xxl {
  margin-bottom: 6rem;
}

/*margin-left*/
.ml-xs {
  margin-left: 1rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ml-md {
  margin-left: 3rem;
}

.ml-lg {
  margin-left: 4rem;
}

.ml-xl {
  margin-left: 5rem;
}

.ml-xxl {
  margin-left: 6rem;
}

/*margin-right*/
.mr-xs {
  margin-right: 1rem;
}

.mr-sm {
  margin-right: 2rem;
}

.mr-md {
  margin-right: 3rem;
}

.mr-lg {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 5rem;
}

.mr-xxl {
  margin-right: 6rem;
}

/*margin-left & right*/
.mx-xs {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-md {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-lg {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem;
}

/*margin-top & botton*/
.my-xs {
  margin-top: 1rem;
  margin-top: 1rem;
}

.my-sm {
  margin-top: 2rem;
  margin-top: 2rem;
}

.my-md {
  margin-top: 3rem;
  margin-top: 3rem;
}

.my-lg {
  margin-top: 4rem;
  margin-top: 4rem;
}

.my-xl {
  margin-top: 5rem;
  margin-top: 5rem;
}

.my-xxl {
  margin-top: 6rem;
  margin-top: 6rem;
}

/* Radius */
.border-radius-sm {
  border-radius: 0.125rem;
}

.border-radius-md {
  border-radius: 0.375rem;
}

.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}

/*Breakpoints*/
.btn-main {
  display: inline-block;
  padding: 10px;
  width: 150px;
  background-color: #70a70c;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

.btn-secondary {
  display: inline-block;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid white;
  transition: 0.25s;
}

.btn-main:hover,
.btn-main:focus {
  background-color: #6a9122;
  transition: 0.25s;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #6a9122;
  transition: 0.25s;
}
.btn-secondary:hover .btn-secondary:hover a,
.btn-secondary:focus .btn-secondary:hover a {
  color: blue;
}

/* Colors */
/* Spacing */
/*margin*/
.m-xs {
  margin: 1rem;
}

.m-sm {
  margin: 2rem;
}

.m-md {
  margin: 3rem;
}

.m-lg {
  margin: 4rem;
}

.m-xl {
  margin: 5rem;
}

.m-xxl {
  margin: 6rem;
}

/*margin-top*/
.mt-xs {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 5rem;
}

.mt-xxl {
  margin-top: 6rem;
}

/*margin-bottom*/
.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 5rem;
}

.mb-xxl {
  margin-bottom: 6rem;
}

/*margin-left*/
.ml-xs {
  margin-left: 1rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ml-md {
  margin-left: 3rem;
}

.ml-lg {
  margin-left: 4rem;
}

.ml-xl {
  margin-left: 5rem;
}

.ml-xxl {
  margin-left: 6rem;
}

/*margin-right*/
.mr-xs {
  margin-right: 1rem;
}

.mr-sm {
  margin-right: 2rem;
}

.mr-md {
  margin-right: 3rem;
}

.mr-lg {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 5rem;
}

.mr-xxl {
  margin-right: 6rem;
}

/*margin-left & right*/
.mx-xs {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-md {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-lg {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem;
}

/*margin-top & botton*/
.my-xs {
  margin-top: 1rem;
  margin-top: 1rem;
}

.my-sm {
  margin-top: 2rem;
  margin-top: 2rem;
}

.my-md {
  margin-top: 3rem;
  margin-top: 3rem;
}

.my-lg {
  margin-top: 4rem;
  margin-top: 4rem;
}

.my-xl {
  margin-top: 5rem;
  margin-top: 5rem;
}

.my-xxl {
  margin-top: 6rem;
  margin-top: 6rem;
}

/* Radius */
.border-radius-sm {
  border-radius: 0.125rem;
}

.border-radius-md {
  border-radius: 0.375rem;
}

.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}

/*Breakpoints*/
#header {
  background-image: linear-gradient(rgba(24, 24, 24, 0.64), rgba(24, 24, 24, 0.64), rgba(24, 24, 24, 0.64)), url("../img/header.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}
#header .header-text-container {
  text-align: center;
}
#header .header-text-container .header-text-content {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0 1rem;
}
#header .header-text-container .header-text-content .header-text-titles h1 {
  margin-top: 0;
}
#header .header-text-container .header-text-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#header .header-text-container .header-text-btns a {
  color: white;
  font-family: "Dosis", sans-serif;
}

@media (min-width: 450px) {
  #header {
    height: 600px;
  }
}
.about-text {
  font-family: "Roboto", sans-serif;
  background-color: #272727;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
