{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["> 0%"]
            }
        }]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}
