@import "../variables";

.btn-main {
  display: inline-block;
  padding: 10px;
  width: 150px;
  border-radius: 6px;
  background-color: $color-main;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}
.btn-secondary {
  display: inline-block;
  padding: 10px;
  width: 150px;
  border-radius: 6px;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid white;
  transition: 0.25s;
}

.btn-main:hover,
.btn-main:focus {
  background-color: $btn-hover;
  transition: 0.25s;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: $btn-hover;
  transition: 0.25s;
  .btn-secondary:hover a {
    color: blue;
  }
}
