#footer {
  background-color: $color-secondary;
  color: #fff;
  font-family: $ff-primary;
  padding-top: 20px;
  .icons {
    display: flex;
    justify-content: flex-start;
  }
  .subscribe-footer {
    display: flex;
    input {
      height: 40px;
      width: 100%;
      max-width: 400px;
      border: none;
    }
    button {
      height: 40px;
      padding: 0 1rem;
      border: none;
      background-color: #70a70c;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      transition: 0.25s;
      &:hover,
      &:focus {
        background-color: $btn-hover;
      }
    }
    i {
      color: #fff;
      font-size: 26px;
    }
  }
  .fine-print {
    ul {
      list-style: none;
      padding-inline-start: 0;
    }
  }
  .footer-copyright {
    text-align: center;
    display: flex;
    min-height: 50px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: rgba(48, 48, 48, 0.795);
  }
}

@media (min-width: map-get($viewport_size, m)) {
  .footer-container {
    .footer-section2 {
      justify-self: center;
    }
    .fine-print {
      align-self: end;
      justify-self: center;
      margin-bottom: 18px;
      margin-right: 110px;
    }
  }
}

@media (min-width: map-get($viewport_size, xl)) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
    .footer-section2 {
      justify-self: baseline;
    }
    .fine-print {
      justify-self: baseline;
      margin: 0;
    }
  }
}
