@import "./variables";

#header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [row1-start] 25%;
}

#about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "grid-item1"
    "grid-item2";
  .about-text {
    grid-area: grid-item1;
  }
  .about-img {
    grid-area: grid-item2;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    img {
      max-width: 100%;
    }
  }
}

.services-container {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 4rem;
  justify-items: center;
}

.testimonial-card-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  justify-items: center;
}

.contact-info-container {
  background-color: rgb(230, 230, 230);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "item1"
    "item2"
    "item3";
  .contact-form-container {
    grid-area: item1;
  }
  .bottom-form-container {
    grid-area: item2;
  }
  .company-info-container {
    grid-area: item3;
    background-color: $color-main;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: map-get($viewport_size, m)) {
  #about {
    grid-template-columns: 1.75fr 2.5fr;
    grid-template-rows: [row1-start] 650px;
    grid-template-areas: "grid-item1 grid-item2";
    .about-img-background {
      .about-img {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        justify-items: center;
        img {
          width: 450px;
          max-width: 100%;
          height: 290px;
        }
      }
    }
  }
  .services-container {
    grid-template-columns: 0.75fr;
  }
  .project-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    img {
      height: 250px;
      width: 400px;
    }
  }
  .contact-info-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item1 item3"
      "item2 item2";
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
  }
}

@media (min-width: map-get($viewport_size, l)) {
  #about {
    .about-img-background {
      .about-img {
        img {
          width: 500px;
          height: 290px;
        }
      }
    }
  }

  .services-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .subscribe-container {
    height: 175px;
  }
}

@media (min-width: map-get($viewport_size, xl)) {
  #about {
    grid-template-columns: 1fr 2fr;
    .about-img-background {
      .about-img {
        img {
          width: 550px;
          height: 320px;
        }
        .img1 {
          justify-self: start;
        }
        .img2 {
          justify-self: end;
          position: relative;
          bottom: 20%;
        }
      }
    }
  }
  .testimonial-card-container {
    grid-template-columns: 0.75fr 0.75fr;
    column-gap: 24px;
  }
}

@media (min-width: 1500px) {
  .project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about-img-background {
    .about-img {
      img {
        width: 600px;
        height: 320px;
      }
    }
  }
}
