/* Font families */
$ff-primary: "Roboto", sans-serif;
$ff-seconmdary: "Opens Sans", sans-serif;

/* Font sizes */
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 2rem;
$font-size-4xl: 3rem;

/* Line heights */
$line-height-sm: 1.25;
$line-leight-md: 1.5;

/* Letter spacings */
$letter-spacing-sm: 0.05em;
$letter-spacing-md: 0.1em;
