/* Colors */
$color-primary: #176e00;
$color-secondary: #279e06;
$color-accent: #80ac31;
$btn-main-hover: #6a9122;
$btn-secondary-hover: #2ac400;

/* Spacing */

$base-spacer: 1rem;

$spacers: (
  0: 0,
  1: $base-spacer * 0.25,
  2: $base-spacer * 0.5,
  3: $base-spacer,
  4: $base-spacer * 1.5,
  5: $base-spacer * 3,
);

/* Radius */

$border-radius: 0px;
