/* Colors */

$color-main: #70a70c;
$color-secondary: #272727;
$btn-hover: #6a9122;

/* Spacing */

$base-spacer: 1rem;

$spacers: (
  0: 0,
  1: $base-spacer * 0.25,
  2: $base-spacer * 0.5,
  3: $base-spacer,
  4: $base-spacer * 1.5,
  5: $base-spacer * 3,
);

/* Radius */

$border-radius: 0px;

/*Breakpoints*/

$viewport_size: (
  s: 320px,
  s-m: 481px,
  m: 768px,
  l: 1200px,
);
