/* Colors */
$color-primary: #176e00;
$color-secondary: #80ac31;
$color-accent: #aede3e;

/* Spacing */

/* title margin */
$title-margin: 5rem 0 10rem;
$footer-title-margin: 2.5rem 0 5rem;
/* container margin-bottom */
$container-margin-btm: 5rem;
