.about-text {
  font-family: $ff-primary;
  background-color: $color-secondary;
  color: #fff;
  h2:after {
    content: "";
    display: block;
    width: 80px;
    margin-top: 1.25rem;
    border-bottom: 5px solid $color-main;
  }
}

.about-img {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  img {
    max-width: 100%;
  }
}
