@import "../components/navbar";
@import "../components/buttons";
@import "../variables";

#header {
  background-image: linear-gradient(
      rgba(24, 24, 24, 0.64),
      rgba(24, 24, 24, 0.64),
      rgba(24, 24, 24, 0.64)
    ),
    url("../img/header.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;

  .header-text-container {
    vertical-align: middle;
    text-align: center;
    .header-text-content {
      color: white;
      font-family: $ff-primary;
      padding: 0 1rem;
    }
    .header-text-btns {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      a {
        color: white;
        font-family: $ff-secondary;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 450px) {
  #header {
    height: 600px;
  }
}
