<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../landscaping/sass/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <title>Lanscaping</title>
</head>

<body>
    <!--Heading-->

    <header id="header">

        <!--Navbar-->
        <nav class="navbar">
            <a href="/" class="navbar__logo"><img src="../landscaping/img/"></a>
            <div class="navbar__bars">
                <div class="navbar__menu">
                    <a href="#" class="navbar__menu--links">Home</a>
                    <a href="#" class="navbar__menu--links">About</a>
                    <a href="#" class="navbar__menu--links">Services</a>
                    <a href="#" class="navbar__menu--links">Gallery</a>
                    <a href="#" class="navbar__menu--links">Testimonials</a>
                    <a href="#" class="navbar__menu--links">Contact Us</a>
                </div>
            </div>
        </nav>

    </header>
</body>

</html>