<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../landscaping/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/3116d9e728.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <title>Landscaping</title>
</head>

<body>
    <grid class="grid">
        <!--Header-->
        <header id="header">

            <!--Navbar-->
            <nav>
                <!--Desktop Nav-->
                <div class="desktop-nav">
                    <a href="#"><img width="52px" class="logo" src="../landscaping/img/logo.png"></a>
                    <div id="desktop" class="menu font-size-xs">
                        <a href="#home" class="navbar-menu-link"><span class="nav_border">Home</span></a>
                        <a href="#about" class="navbar-menu-link"><span class="nav_border">About</span></a>
                        <a href="#services" class="navbar-menu-link"><span class="nav_border">Services</span></a>
                        <a href="#projects" class="navbar-menu-link"><span class="nav_border">Projects</span></a>
                        <a href="#testimonials" class="navbar-menu-link"><span
                                class="nav_border">Testimonials</span></a>
                        <a href="#contact" class="navbar-menu-link"><span class="nav_border">Contact</span></a>
                    </div>
                </div>

                <!--Mobile Nav-->
                <a class="menu__icon mobile"><span></span></a>
                <a href="#"><img width="52px" class="mobile-logo" src="../landscaping/img/logo.png"></a>
                <ul class="menu mobile font-size-m">
                    <li><a href="#home" class="navbar-menu-link">Home</a></li>
                    <li><a href="#about" class="navbar-menu-link">About</a></li>
                    <li><a href="#services" class="navbar-menu-link">Services</a></li>
                    <li><a href="#projects" class="navbar-menu-link">Projects</a></li>
                    <li><a href="#testimonials" class="navbar-menu-link">Testimonials</a></li>
                    <li><a href="#contact" class="navbar-menu-link">Contact</a></li>
                </ul>
            </nav>


            <!--header text-->
            <div class="header-text-container">
                <div class="header-text-content">
                    <div class="header-text-titles">
                        <h1 class="font-size-l">Lorem Ipsum</h1>
                        <h2 class="font-size-s">Lorem ipsum dolor sit amet.</h2>
                    </div>
                </div>
                <div class="header-text-btns mt-md">
                    <a href="#" class="btn-main border-radius-md">Get Quote</a>
                    <a href="#" class="btn-secondary border-radius-md">Learn More</a>
                </div>
            </div>

        </header>


        <!--About Section-->
        <section id="about">
            <!--grid-item1 (text)-->
            <div class="about-text">
                <div class="m-sm text-container">
                    <h2 class="mb-sm">About Us</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis praesentium suscipit, ea quod
                        iure ipsum dignissimos consequuntur voluptatibus esse ab, autem cupiditate. Dolore alias a
                        aspernatur quo necessitatibus laudantium eligendi dolorem sed voluptatibus placeat natus
                        veritatis, laborum animi quaerat, nobis inventore fugiat quidem modi eius, magnam corporis
                        quibusdam autem. Saepe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quo ab facere perspiciatis
                        accusantium, aliquid aspernatur nam ut perferendis reiciendis. Blanditiis nesciunt asperiores
                        distinctio nam.</p>
                </div>
            </div>


            <div class="about-img-background">

                <!--grid-area2 (imgs)-->
                <div class="about-img">
                    <img class="img1" src="img/aboutme1.jpg">
                    <img class="img2" src="img/aboutme2.jpg">
                </div>
            </div>


        </section>


        <!--Services Section-->
        <section id="services" class="container">

            <h1 class="font-size-m">Services</h1>
            <h3 class="font-size-xs">Lorem Ipsum</h3>

            <div class="services-container">
                <div class="services1">
                    <img src="./img/scissor.svg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis maiores, quos sequi
                        necessitatibus inventore voluptatum repellat repudiandae neque aperiam sint suscipit ad nihil
                        rerum
                        iusto?</p>
                </div>
                <div class="services2">
                    <img src="./img/landscaping.svg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis maiores, quos sequi
                        necessitatibus inventore voluptatum repellat repudiandae neque aperiam sint suscipit ad nihil
                        rerum
                        iusto?</p>
                </div>
                <div class="services3">
                    <img src="./img/watering-can.svg">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis maiores, quos sequi
                        necessitatibus inventore voluptatum repellat repudiandae neque aperiam sint suscipit ad nihil
                        rerum
                        iusto?</p>
                </div>
            </div>


        </section>

        <!--Subscribe Section-->

        <section id="subscribe">

            <div class="subscribe-container">
                <div class="subscribe-container-text">
                    <h2 class="font-size-s">Subscribe to our newsletter!</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>

                <form id="viewport-s-form" class="subscribe-form">
                    <input class="border-radius-md" type="email" id="newsletter" placeholder="  Your email...">
                    <button class="border-radius-md" type="submit" name="action">Subscribe</button>
                </form>

                <form id="viewport-s-m-form" class="subscribe-form">
                    <input class="border-bottom-left-radius-md border-top-left-radius-md" type="email" id="newsletter2"
                        placeholder="  Your email...">
                    <button class="border-bottom-right-radius-md border-top-right-radius-md" type="submit"
                        name="action">Subscribe</button>
                </form>
            </div>

        </section>


        <!--Projects Section-->

        <section id="projects" class="container">

            <div>
                <h1 class="font-size-m">Projects</h1>
                <h3 class="font-size-xs">Lorem Ipsum</h3>
                <div class="project-container">
                    <img class="mb-sm border-radius-md" src="img/projects 1.jpg">
                    <img class="mb-sm border-radius-md" src="img/projects2.jpg">
                    <img class="mb-sm border-radius-md" src="img/projects3.jpg">
                    <img class="mb-sm border-radius-md" src="img/projects4.jpg">
                    <img class="mb-sm border-radius-md" src="img/projects5.jpg">
                    <img class="mb-sm border-radius-md" src="img/projects6.jpg">
                </div>
            </div>

        </section>

    </grid>

    <!--Testimonials Section-->

    <section id="testimonials">

        <div class="container">

            <h1 class="font-size-m">Testimonials</h1>

            <div class="testimonial-card-container">
                <div class="card border-radius-md">
                    <div class="card-content">
                        <div class="card-icon">
                            <i class="fa-solid fa-quote-left"></i>
                        </div>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quaerat mollitia, aliquid
                            dolor sunt ad unde iste excepturi, cum suscipit labore. Sapiente asperiores incidunt ea
                            magnam reiciendis eos aliquam sed!"
                        </p>
                        <h5>- Lorem Ipsum</h5>
                    </div>
                </div>
                <div class="card border-radius-md">
                    <div class="card-content">
                        <div class="card-icon">
                            <i class="fa-solid fa-quote-left"></i>
                        </div>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quaerat mollitia, aliquid
                            dolor sunt ad unde iste excepturi, cum suscipit labore. Sapiente asperiores incidunt ea
                            magnam reiciendis eos aliquam sed!"
                        </p>
                        <h5>- Lorem Ipsum</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Map-->
    <section id="google-map">

        <div id="map">

            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
                src="https://maps.google.com/maps?width=1920&amp;height=485&amp;hl=en&amp;q=200%20E%20Colfax%20Ave,%20Denver,%20CO%2080203%20Denver+(Location)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            <a href="https://add-map.com/">embedding a google map</a>
        </div>

    </section>

    <!--Contact Section-->
    <section id="contact">

        <div class="contact-container container">

            <h1 class="font-size-m">Contact</h1>
            <h3 class="font-size-xs">Lorem Ipsum</h3>

            <div class="contact-info-container border-radius-md">
                <!--grid item1-->
                <div class=" contact-form-container">

                    <form class="contact-form m-sm">
                        <label for="fname">First name:</label>
                        <input class=" border-radius-md" placeholder="First Name" type="text" id="fname" name="fname">
                        <label place for="lname">Last name:</label>
                        <input class=" border-radius-md" placeholder="Last Name" type="text" id="lname" name="lname">
                        <label form="email">Email</label>
                        <input class=" border-radius-md" placeholder="Email" type="email" id="email" name="email">
                        <label form="phone">Phone</label>
                        <input class=" border-radius-md" placeholder="Phone Number" type="tel" id="tel" name="tel">
                        <label for="service">Choose a service:</label>
                        <select class="border-radius-md" name="service" id="service">
                            <option value="service1">Service1</option>
                            <option value="service2">Service2</option>
                            <option value="service3">Service3</option>
                            <option value="service4">Service4</option>
                        </select>
                    </form>

                </div>

                <!--grid item2-->
                <div class="bottom-form-container">
                    <div class="bottom-form m-sm">
                        <textarea class="border-radius-md"> Your message...</textarea>
                        <button class="btn-main border-radius-md">Submit</button>
                    </div>
                </div>

                <!--grid item3-->
                <div class="company-info-container">
                    <div class="company-info m-sm">
                        <h2 class="font-size-s">Company Info</h2>
                        <h5 class="font-size-xs"><i class="fa-solid fa-location-dot"></i>200 E Colfax Ave</h5>
                        <h5 class="font-size-xs"> <i class="fa-solid fa-phone"></i>555-555-5555</h5>
                        <h5 class="font-size-xs"><i class="fa-solid fa-envelope"></i>yourcompany@gmail.com</h5>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!--Footer Section-->

    <footer id="footer">
        <div class="container footer-container">
            <div class="footer-section1 mb-sm">
                <h3 class="font-size-s">About Company</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio obcaecati vel, cumque
                    dignissimos, quo ut officia voluptatem aliquid debitis esse aspernatur quod. Rem, possimus
                    excepturi.</p>
            </div>
            <div class="footer-section2 mb-sm">
                <h3 class="font-size-s">Business Hours</h3>
                <p>Monday-Friday</p>

                <p>7:30am-5:30pm</p>
            </div>
            <div class="footer-section3 mb-sm">
                <h3 class="font-size-s">Connect </h3>
                <div class="icons mb-xs">
                    <a href="#"><i class="fa-brands fa-instagram fa-2x mr-xs"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter-square fa-2x mr-xs"></i></a>
                    <a href="#"><i class="fa-solid fa-square-envelope fa-2x mr-xs"></i></a>
                </div>
                <div class="subscribe-footer">
                    <input class="border-bottom-left-radius-md border-top-left-radius-md" placeholder="Subscribe"
                        type="email">
                    <button class="border-bottom-right-radius-md border-top-right-radius-md" type="submit"><i
                            class="fa-solid fa-paper-plane"></i></button>
                </div>
            </div>
            <div class="fine-print">
                <ul>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                @2022 YourWebsite Inc
            </div>
        </div>




    </footer>

    <!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=&v=weekly&channel=2"
        async></script> -->
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./js/main.js"></script>
<script
    src="https://embedmaps.com/google-maps-authorization/script.js?id=0d7b6329279e5c7b1fcc06640afd2097487d6335"></script>

</html>